html 
    title Jade Page
body 
    // jade String
    #header 
        h1 #{name}!
        h2=description
    hr 
    .article
    -for(var i = 0; i < 10; i++){
            p 
                a(href="http://www.naver.com") Go to Naver Page
    -}