* {
    padding: 0px;
    margin: 0px;
    box-sizing:border-box;
}

header {
    background-image: url(../images/background.jpg);
    height: 880px;
    background-size: cover;
    padding: 20px;
    
}

nav {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between; /* 양 끝 단에 붙게끔 만드는 코드 */
}

.logo {
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.menu ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 30px;
    list-style-type: none;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}