<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/basic :: setContent(~{this::content} )}">

    <th:block th:fragment="content">

        <h1 class="mt-4">Movie List Page
            <span>
                    <a th:href="@{/movie/register}">
                        <button type="button" class="btn btn-outline-primary">REGISTER</button>
                    </a>
                </span>
        </h1>

        <form action="/movie/list" method="get" id="searchForm">
            <input type="hidden" name="page" value="1"/>
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="custom-select" name="type">
                        <option value="t" th:selected="${pageRequestDTO.type == 't'}">제목</option>
                        </select>
                </div>
                <input class="form-control" name="keyword" th:value="${pageRequestDTO.keyword}" />
                <div>
                    <button class="btn btn-outline-secondary btn-search" type="button">찾기</button>
                    <button class="btn btn-outline-secondary btn-clear" type="button">지우기</button>
                </div>
            </div>

        </form>


        <table class="table table-striped">
            <thaed>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Picture</th>
                    <th scope="col">Review Count</th>
                    <th scope="col">AVG Rating</th>
                    <th scope="col">Redgdate</th>
                </tr>
            </thaed>
            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <th><a th:href="@{/movie/read(mno=${dto.mno}, page=${result.page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">[[${dto.mno}]]</a></th>
                <td><img th:if="${dto.imageDTOList.size() > 0 && dto.imageDTOList[0].path != null}"
                         th:src="|/display?fileName=${dto.imageDTOList[0].getThumbnailURL()}|"
                >[[${dto.title}]]
                </td>
                <td>[[${dto.reviewCnt}]]</td>
                <td>[[${dto.avg}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy//MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <ul class="pagination h-100 justify-content-center align-items-center">
            <li class="page-item" th:if="${result.prev}">
                <a class="page-link" th:href="@{/movie/list(page=${result.start - 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">Previous</a>
            </li>
            <li th:class=" ' page-item ' + ${result.page == page?'active':''} " th:each="page:${result.pageList}">
                <a class="page-link" th:href="@{/movie/list(page=${page}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">[[${page}]]</a>
            </li>
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/movie/list(page=${result.end + 1}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}">Next</a>
            </li>
        </ul>


    </th:block>

</th:block>